AI Critical Email Alert System.json
{
  "name": "AI Critical Email Alert System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "234f36db-f536-4d94-bb3a-a88475d0e440",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "WDGElHnlVD7TK2qP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39a67424-b958-42aa-88d9-f7e3805861e4",
              "name": "sender",
              "value": "={{$json[\"From\"]}}",
              "type": "string"
            },
            {
              "id": "4f5c0336-7d2c-491b-836a-fd999f7f70c9",
              "name": "subject",
              "value": "={{$json[\"Subject\"]}}",
              "type": "string"
            },
            {
              "id": "c9525dd6-d2ba-4963-ab02-f38b15c7bd1f",
              "name": "body",
              "value": "={{$json[\"snippet\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d286e22e-b56b-43e3-b59f-479327aed142",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI system acting as a Personal Critical Email Alert Engine.\n\nAnalyze the email and return structured JSON.\n\nClassify as:\n- Important\n- Normal\n- Ignore\n\nExtract timeline:\n- Today\n- Upcoming\n- Later\n- No deadline detected\n\nDetect risk level:\n- High\n- Medium\n- Low\n- None\n\nReturn JSON ONLY:\n\n{\n  \"importance\": \"\",\n  \"reason\": \"\",\n  \"timeline\": {\n    \"category\": \"\",\n    \"date\": \"\"\n  },\n  \"risk_alert\": {\n    \"risk_level\": \"\",\n    \"risk_reason\": \"\"\n  },\n  \"summary\": \"\"\n}"
            },
            {
              "content": "=Sender: {{$json.sender}}\nSubject: {{$json.subject}}\nBody:\n{{$json.body}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "b2b2d3ee-fbd6-4819-afdc-957331794747",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "NB4Qc5pThtLfPdoc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output[0].content[0].text;\n\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: parsed\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "c7787944-398a-4612-b1a8-fe61da2b84fd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4a94767-9c52-455f-bc01-2dcfbf8a9815",
              "leftValue": "={{$json.importance}}",
              "rightValue": "Important",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        0
      ],
      "id": "aaeef3b1-1132-4b36-9dce-b1169d76bd83",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "aswinaswin6552@gmail.com",
        "subject": "🚨 Critical Email Detected",
        "emailType": "text",
        "message": "=Summary:\n{{$json.summary}}\n\nReason:\n{{$json.reason}}\n\nRisk Level:\n{{$json.risk_alert.risk_level}}\n\nRisk Explanation:\n{{$json.risk_alert.risk_reason}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        -96
      ],
      "id": "556d44a1-d906-4c63-9202-8de65acf490f",
      "name": "Send a message",
      "webhookId": "5ba20a99-9e98-4557-ac78-415e76277edd",
      "credentials": {
        "gmailOAuth2": {
          "id": "WDGElHnlVD7TK2qP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb3aa11d-97ef-498f-88e9-96a3583ca3e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac341de37aed15ecf2f366a785354ee65e49ac335af4030f4de500688f653b8e"
  },
  "id": "TaTY03kZKDhvwnuc",
  "tags": []
}